
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container nav-container">
    <a class="navbar-brand" href="/">Mongo Scraper</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/saved">Saved</a>
            <span class="sr-only">(current)</span>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btn-default scrape-new">Scrape Articles</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-default clear">Clear Articles</a>
          </li>
        </ul>
      </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="container">
    <div class="caption">
      <div class="row">
        <div class="col-sm-12">
          <h1>Mongo Scraper</h1>
          <p>Music News Edition</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container article-container">
  <div class="row">
    <div class="col-sm-12">
          {{#each articles}}
          <div data-_id="{{this._id}}" class="card">
              <div class="card-header">
                <h3 class="text-center">
                  <a class="article-link" target="_blank" rel="noopener noreferrer" href="{{this.url}}">{{this.headline}}</a>
                </h3>
              </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="card-image">
                  <img class="img-fluid" src="{{this.image}}">
                </div>
              </div>
              <div class="col-sm-9">
                <div class="card-body">{{this.summary}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-6 text-center">
                <a class="btn btn-default delete">Delete from Saved</a>
                <a class="btn btn-default comments">View Comments</a>
              </div>
              <div class="col-sm-3"></div>
            </div>
          </div>
          {{/each}} 
      </div>
  </div>
</div>

